
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height:100%;
    margin: 0;
    padding: 0;
}

header{
    display: block;
    min-width: 100%;
    background-color: #39c;
    color: rgb(198,198,59);
    line-height: 3rem;
    margin-right: 20vw;
   /* margin: -0.5rem;  */  /*lehet inline-block kell*/
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0,1,auto;
}

.h3__title{
    display: inline;
    font-size: 1.25rem;
    margin: 1rem;
}

.search__btn{
   float: right;
    font-size: 1.2rem;
    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-right: 1rem;
    background-color: rgb(176, 189, 0);
}

.main__nav{
    flex: 0,0,100%;
    background-color: #A55;
    max-width: 100%;
    margin: 0, 0;
    height: 100vh;
}
.nav__ul{
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    
}

.li__categories{
    list-style-type: none;
    display: block;
    line-height: 3rem;
    
}

.nav__a{
    
    text-decoration: none;
    font-size: 1.2rem;
    color: #343;
    
}

section{
    width: 100%;                            /* kitölti a rendelkezésére álló helyet, amit a flexxel beállítottunk, nem kell sem min, sem max-width*/
    background-color: rgb(56, 252, 252);
    
}

.h1__intro{
    padding: 1rem;
}

.ps{
    padding-left: 1rem;
}

.button__pressStart{
    background-color: rgb(125, 204, 51);
    width: 10rem;
    height: 3rem;
    font-size: large;
    border-radius: 30%;
    box-shadow: 0px, 50px, 50px, #777;
    
}
.button__pressStart:hover{
    background-color:   rgb(238, 241, 4) ;
    -webkit-transition : background-color 0.3s linear;
    -moz-transition : background-color 0.3s linear;
    -o-transition : background-color 0.3s linear;
    transition : background-color 0.3s linear;
}
.button__pressStart:focus{
    border-color: rgb(125, 204, 51);
}


/* modal*/

.modal {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
     
  }
  
  .modal__content {
    
    position: fixed;
    top: 50%;
    left: 50% ;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
  }
  

  .button__close {
    float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
  }
  .modal__button {
    float: right;
        
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  @media screen and (max-width: 560px) {
    .modal__content{
        width: 12rem;
    }
  }